.navbar {
    background: linear-gradient(to right, yellow, pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: inherit; /* This ensures the links inherit the text color */
    text-shadow: 
        1px 1px 0 #fff, 
        -1px -1px 0 #fff, 
        -1px 1px 0 #fff, 
        1px -1px 0 #fff,
        1px 0 0 #fff, 
        -1px 0 0 #fff, 
        0 1px 0 #fff, 
        0 -1px 0 #fff;
    padding: 0.5em 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: red;
    transform: scale(1.1);
}

.active-link {
    border-bottom: 2px solid red;
    color: red;
}
